/* ///////////////////////////////// GENERAL ///////////////////////////////// */

p {
  margin-top: 0;
}

/* ///////////////////////////////// HEADER ///////////////////////////////// */

header h2 {
  font-size: 30px;
  font-weight: 500;
}

/* ///////////////////////////////// MAIN ///////////////////////////////// */

main h5 {
  font-size: 20px;
  font-weight: 500;
}

main h6 {
  color: grey;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.languages h5 {
  margin-top: 25px;
  color: blue;
}
