/* ///////////////////////////////// GENERAL ///////////////////////////////// */

p {
  margin: 0;
}

/* ///////////////////////////////// HEADER ///////////////////////////////// */

header .about,
header img,
header p {
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 3.5em;
  font-weight: 300;
}

header h2 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.2em;
  color: #112378;
  margin: 0.8em 0;
}

/* ///////////////////////////////// MAIN ///////////////////////////////// */

/* SECOND COLUMN */

main h3 {
  font-size: 2.8em;
  margin-top: 0;
}

main h4 {
  font-size: 1.4em;
  margin: 1.4em 0 0 0;
}

.infoExp,
.infoEdu {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4em;
  color: #5c6bc0;
  padding: 0;
}

.infoExp {
  margin: 0.6em 0 0.4em 0;
}

.infoEdu {
  margin: 0.4em 0;
}

/* FIRST COLUMN */

.skills h4,
.languages h4,
.interests h4 {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}

.languages h5 {
  font-size: 1em;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
}

.skills label {
  font-size: 1em;
  font-weight: 500;
  color: black;
  margin-right: 1em;
  padding: 0;
}

.progress {
  background-color: #c5cae9 !important;
  margin: 0;
  padding: 0;
}

.interests ul {
  margin: 0;
}
